form(method="POST" action="/new")
  h1 New message
  input(name="text" type="text" placeholder="Add a new message")
  input(name="user" type="text" placeholder="Sign your message")
  input(type="submit") 
